.user {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    background-color: rgb(64, 147, 91);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    font-weight: bold; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
    cursor: pointer; 
  }